.wrapper {
    transform: scale(1);
    width: 40%;
    height: 70%;

    display: inline-block;
}


div.main {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .3s;
    
}

/* Style all input fields */
input {
  color: #0a283c;
  font-size: 1.7em;
  width: 60%;

  margin-bottom: 1%;
  transition: .3s;
}
.change {
    position: relative;
    width: 100%;
    display: flex;
    transform: translateY(70%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .5s ease-in-out;

}

.upped {
    transform: translateY(100%);
    transform: scale(1);
}

.valider {
    color: #0a283c;
    height: 40px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
}

.valider:hover{
    background-color: #fff;
    color: #0a283c;
}



/* The message box is shown when the user clicks on the password field */
#validation {
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    transition: .5s;
    width: 90%;
    left: 12%;
}

h3.task {
    text-align: center;
    font-size: 2em;
    width: 70%;
    transform: translateY(-15%);
}

.notupped {
    transform: scale(0) translateY(100%);
    visibility: hidden;
}

#validation p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #53ce8c;
}



/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #e8944e;
}

p {
    display: inline;
    width: 100%;
}