<html>
    <head>
        <title>Calendar</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div class="container">

            <div class="row">
                <h4>Calendrier des cours de {{ enseignant.name }} {{ enseignant.firstName }}</h4> 

                {%block content%}
                {%endblock%}

                <div class="col-md-12 mt-3">
                    <h5>Upload le fichier ICS</h5>
                    <form method="post" enctype="multipart/form-data" action="{% url 'upload_ics' enseignant_id=enseignant_id %}">
                        {% csrf_token %}
                        <input type="file" name="ics_file" class="form-control mb-2" required>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>

                <div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventDetailsModalLabel">Détails du cours</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="eventDetailsContent">
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <form method="post" id="upload-ical-form" action="{% url 'upload_icalendar_link' %}" class="form-inline">
                            {% csrf_token %}
                            <h5>ICalendar URL</h5>
                            <input type="url" name="ical_url" id="ical_url" class="form-control mb-2" required>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                    <div class="row mt-3">
                        <button id="delete-all-events" class="btn btn-danger">Delete All Events</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <!-- FullCalendar JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js"></script>

        <script>
        var enseignant_id = "{{ enseignant_id }}";

        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: '/Absences/all_events/' + enseignant_id,
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                select: function (start, end, allDay) {
                    var title = prompt("Entrer le titre de l'évênement:");
                    if (title) {
                        var startDate = moment(start).format("YYYY-MM-DD");
                        var startTime = prompt("Entrer heure de début (HH:mm):", moment(start).format("HH:mm"));
                        var endTime = prompt("Entrer heure de fin (HH:mm):", moment(end).format("HH:mm"));

                        if (startTime && endTime) {
                            var startDateTime = moment(startDate + " " + startTime, "YYYY-MM-DD HH:mm").add(2, 'hours');
                            var endDateTime = moment(startDate + " " + endTime, "YYYY-MM-DD HH:mm").add(2, 'hours');

                            if (startDateTime.isValid() && endDateTime.isValid()) {
                                $.ajax({
                                    type: "GET",
                                    url: '/Absences/add_event/' + enseignant_id,
                                    data: {
                                        'title': title,
                                        'start': startDateTime.format(),
                                        'end': endDateTime.format(),
                                        'enseignant_id': enseignant_id
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        calendar.fullCalendar('refetchEvents');
                                        alert("Evênement ajouté avec succès");
                                    },
                                    error: function (data) {
                                        alert('Il y a eu un problème lors de l\'ajout de l\'évênement');
                                    }
                                });
                            } else {
                                alert('Saisie invalide. Veuillez entrer une heure valide');
                            }
                        } else {
                            alert('Heure de début et de fin requises');
                        }
                    }
                },
                eventResize: function (event) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/Absences/update/'+ enseignant_id,
                        data: {
                            'title': title,
                            'start': start,
                            'end': end,
                            'id': id,
                            'enseignant_id': enseignant_id
                        },
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event updated');
                        },
                        error: function (data) {
                            alert('Il y a eu un problème lors de la mise à jour de l\'évênement');
                        }
                    });
                },
                eventDrop: function (event) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/Absences/update/' + enseignant_id,
                        data: {
                            'title': title,
                            'start': start,
                            'end': end,
                            'id': id,
                            'enseignant_id': enseignant_id
                        },
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event updated');
                        },
                        error: function (data) {
                            alert('Il y a eu un problème lors de la mise à jour de l\'évênement');
                        }
                    });
                },
                eventClick: function (event) {
                    $('#eventDetailsModal').modal('show');
                    $('#eventDetailsContent').html(
                        '<h5>' + event.title + '</h5>' +
                        '<p>Start: ' + event.start.format("YYYY-MM-DD HH:mm") + '</p>' +
                        '<p>End: ' + event.end.format("YYYY-MM-DD HH:mm") + '</p>' +
                        '<a href="/Absences/absence/' + event.id + '/' + enseignant_id + '/" class="btn btn-primary">Gérer les Absences</a>'
                    );
                }
            });

            $('#delete-all-events').click(function () {
                if (confirm("Etes-vous sûr de vouloir supprimer tous les évênements?")) {
                    $.ajax({
                        type: "GET",
                        url: '/Absences/delete_all_events/' + enseignant_id,
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Tous les évênements ont été supprimés avec succès');
                        },
                        error: function (data) {
                            alert('Il y a eu un problème lors de la suppression de tous les évênements');
                        }
                    });
                }
            });

            $('#upload-ical-form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Evênements iCalendar importés avec succès');
                        $('#ical_url').val('');
                    },
                    error: function (data) {
                        alert('Il y a eu un problème lors de l\'importation des évênements iCalendar');
                    }
                });
            });
        });
        </script>
    </body>
</html>
